<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="content">
<table border="2" class="justify-content-center">
    <tr>
        <th hidden>Id</th>
        <th>Предмет</th>
        <th>Дата</th>
        <th sec:authorize="isAuthenticated()">Присоединиться</th>
    </tr>

    <tr th:each="sh : ${show}">


        <td th:text="${sh.sub_id}" hidden/>
        <td th:text="${sh.name}"/>
        <td th:text="${sh.date}"/>
        <td sec:authorize="isAuthenticated()"><a th:href="@{/join/{subj_id}(subj_id=${sh.sub_id})}">Join</a></td>

    </tr>
</table>
</div>

</body>
</html>