<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
</head>
<body>
div.
<div th:replace="fragments/header :: header"/>
<a href="/admin/Users">CRUD users</a>
<a href="/roles">CRUD roles</a>
<a href="">CRUD groups</a>
<a href="">CRUD subjects</a>
<a href="">CRUD payments</a>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>