
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<header th:replace="fragments/header :: header"/>
<body>

<div align="center">

<form th:action="@{/admin/updateUs/{user_id}(user_id=${user_id})}" th:object="${usr}" method="post">
    <table>
        <tr>
            <td>
    <p>Name: <input type="text" th:field="*{name}"/></p>
            </td>
        </tr>
        <tr>
            <td>
    <p>Password: <input type="password" th:field="*{password}"/></p>
            </td>
        </tr>
        <tr>
            <td>
    <p>Age: <input type="text" th:field="*{age}"/></p>
            </td>
        </tr>
        <tr>
            <td>
    <p><input type="submit" value="Submit"/></p>
            </td>
        </tr>
    </table>

</form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>