<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Role</th>
        <th>Age</th>

    </tr>
    <tr th:each="usr : ${users}">
  

        <td th:text="${usr.getUser_id()}"/>
        <td th:text="${usr.getUser_name()}"/>
        <td th:text="${usr.getRoles().Name}"/>
        <td th:text="${usr.getAge()}"/>

    </tr>
</table>
</body>
</html>