<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<header th:replace="fragments/header :: header"/>
<body>

<a href="/admin/createUs" style="color: white;"><button class="col-lg-12 col-md-12 col-sm-12 bg-primary">Add new user </button></a>
<table border="2" class="col-lg-12 col-md-12 col-sm-12">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Role</th>

        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <tr th:each="usr : ${users}">


        <td th:text="${usr.user_id}"/>
        <td th:text="${usr.name}"/>
        <td th:text="${usr.role}"/>
        <td><a href="/admin/updateUs/${usr.user_id}">Edit</a></td>
        <td><a href="/admin/deleteUs/${usr.user_id}">Delete</a></td>
    </tr>
    </a>
</table>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>